<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Todays Weather
    </ion-title>
  </ion-toolbar>
</ion-header>


<div *ngIf="WeatherData != undefined">  

  <ion-img src="assets/img/wg.jpg"> </ion-img>
  <ion-list>


    <ion-item>
    <div>
       <h2>>  Forcast  :  {{WeatherData.weather[0].main}} </h2> 
     </div>
    </ion-item>


    <ion-item>
 <div>
    <h2> > Base   :    {{WeatherData.base}}</h2>  
  </div>
    </ion-item>
<div>
    <h2>> Temperature :{{WeatherData.main.temp}} </h2>
      
  </div>

    <ion-item>
      <div>
        <h2> > Wind Speed  :   {{WeatherData.wind.speed}}</h2>
           
       </div>
     
    </ion-item>

  </ion-list>

