<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hotels Page
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <ion-slides [options]="{slidesPerView: true, loop: true }">
    <ion-slide>
      <div>
        <ion-header>The Hardiman Hotel</ion-header>
        <ion-img src="assets/img/h.jpg"> 
        </ion-img>
        <ion-card-content>
          The Hardiman is the perfect base to explore the Wild Atlantic
           Way. Discover the Cliffs of Moher, the Burren, the Aran 
           Islands and the wild beauty of Connemara. Best Rate 
           Guarantee Free Wi-Fi Located in the heart of Eyre Square 
          
        </ion-card-content>
       
        <ion-button color="translucent" (click)="openHard()">Visit</ion-button>

        
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <ion-card-header>Eyre Square hotel</ion-card-header>
        <ion-img src="assets/img/e.jpg"> 
        </ion-img>
        <ion-card-content>
  The Eyre Square Hotel in Galway city centre is just a 
          short few steps from Galway's main bus and rail stations
           and close to the Corrib and Eyre Square shopping centre
       
        </ion-card-content>
      
     
        <ion-button color="translucent" (click)="OpenEyre()">Visit</ion-button>

        
      </div>
    </ion-slide>
    <ion-slide>
      <div> 
         <ion-card-header> The Galmont</ion-card-header>
        <ion-img src="assets/img/g.jpg"> 
        </ion-img>
      
        <ion-card-content>
  The Galmont Hotel & Spa (formerly the Radisson Blu Galway)
           is one of Ireland's premier 4* hotels, located in Galway
            City Centre, overlooking Lough Atalia. 
       

        </ion-card-content>
      
          
        <ion-button color="translucent" (click)="OpenG()">Visit</ion-button>

        
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
